
<div id="admin_login_form">
  <fieldset>
    <legend>Log in</legend>
    <%= form_tag do %>
    
    <p>
      <label for="name">Name:</label>
      <%= text_field_tag :name, params[:name] %>
    </p>

    <p>
      <label for="password">Password:</label>
      <%= password_field_tag :password, params[:password] %>
    </p>

    <p>
      <%= submit_tag "Login"%>
    </p>

    <% end %>
  </fieldset>
</div>
