<h1>New User</h1>

 

<div id="new_user_form">


  <fieldset>Enter User Details
    <legend>Enter User Details</legend>

    <%= form_for @user do |f| %>

    <p>
      <label for="user_name">Username:</label>
      <%= f.text_field :name, :size => 40 %>
    </p>

    <p>
      <label for="user_email">Email address:</label>
      <%= f.text_field :email, :size => 40 %>
    </p>

    <p>
      <label for="user_password">Password:</label>
      <%= f.text_field :password, :size => 40 %>
    </p>

    <p>
      <label for="user_password_confirmation">Confirm Password:</label>
      <%= f.text_field :password_confirmation, :size => 40 %>
    </p>

    <p>
      <%= f.submit "Add User", :class => "submit" %>
    </p>

    <% end %>

  </fieldset>
</div>

<%= link_to 'Back', users_path %>
