


<div class="container">

  <div class="row">
    <div class="col-xs-10">
      <strong>Project:</strong> <%=@project%>
    </div>
    <div class="col-xs-2">
      <input type="button" id="change_project_button" value="change project"/>
    </div>
  </div>

  <div id="getusermedia">

    <div class="row">
      <div id="yourpos" class="row">
        <div class="col-xs-12">
          <table>
            <tr><th>latitude</th><th>longitude</th></tr>
            <tr><td><span id="lat"></span></td><td><span id="lon"></span></td></tr>
          </table>
        </div>
      </div>

    </div>

    <div class="row">

      <div id="photoframe" class="row">
        <div class="col-xs-12">
          <video autoplay id="cameradisplay"></video>
          <canvas id="imagecanvas"></canvas>
        </div>
      </div>

    </div>


    <div class="row">

      <div id="photocontrols" class="row">
        <div class="col-xs-12">
          <input type="button" id="shutterbutton" value="take photo" />
          <input type="button" id="save" value="save" disabled/>
        </div>
      </div>

    </div>


  </div>

  <div id="camerainputfile" hidden>

    <div class="row">

      <div class="col-xs-10 ">
        <input type="file" name="data" id="cameraInputFile" accept="image/*;capture=camera">
      </div>

    </div>

    <select name="room_selector">
      <option value="livingroom">Living Room</option>
      <option value="kitchen">Kitchen</option>
    </select>

    <div class="row">

      <div class="col-xs-10 ">
        <button id="nortmbutton" class="btn btn-default">Save the file</button>
      </div>

    </div>

  </div>

</div>

