<!DOCTYPE html>
<html>
  <head>
    <title><%=@title%></title>

    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapibleMenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="#" class="navbar-brand"><%=@BrandName%></a>
        </div>
        <div class="collapse navbar-collapse" id="collapibleMenu">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/galleries">Projects</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <%= yield %>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">&copy; 2016 <a href="mailto:michael.w.nail+ws@gmail.com">Michael W. Nail</a></p>
      </div>
    </footer>



    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
